.mypage{
    display: flex;
    align-content: stretch;
    flex-direction: column;
    width: 300px;
    min-height: 100%;
    line-height: 2.1;
    background: rgb(39, 50, 56);
    color: white;
}

p{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.nickname{
    text-align: center;
}

span{
    margin: 15px;
}