
@charset "utf-8";
/* layout */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#register-form > table {
		 
  border-collapse: collapse; /* 테이블 테두리를 겹치지 않게 설정 */
  border: 1px solid #000; /* 테이블 전체에 테두리를 추가하고 두께와 색상을 설정 */
  color: black;
  width: 70%;
  margin: 0 auto;
  font-style: italic;
 font-family: inherit;  
  

	}
	
#register-form > td, th, thead, tbody{
  border: 1px solid #ddd; /* 테이블 셀(td)과 헤더(th)에 테두리를 추가하고 두께와 색상을 설정 */

}

  
 /*회원가입시 유저사진 사이즈 */
 
 #mDefault_image, #uDefault_image {
  max-width: 100px; /* 원하는 너비로 설정 */
  max-height: 100px; /* 원하는 높이로 설정 */
  /* 다른 스타일링을 위한 추가적인 CSS 속성들 */
}

.reg-info{
	
	margin-bottom: 15px;
    color: black;
    font-size: xx-large;
    text-align: center;
    margin-top: 15px;
    font-family: 'Gamja Flower', sans-serif;
}

