<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <body>
        <th:block th:replace="~{common/fragments/header :: HeaderFragment}"></th:block>
        <th:block th:replace="~{common/fragments/mypageIndex :: MypageIndexFragment}"></th:block>
        <th:block layout:fragment="Content"></th:block>
        <th:block th:replace="~{common/fragments/footer :: FooterFragment}"></th:block>	 
    	<th:block th:replace="~{common/fragments/config :: ConfigFragment}"></th:block>
    </body>
</html>