<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout/defaultLayout}">
	
<th:block layout:fragment="Content">	
	
<br>
<br>
<br>
  <div class="row">
    <div class="col-sm-12">
    	<!-- 검색 -->
    	<form method="get" action="search">
    		상품명 : <input type="text" name="product_name" placeholder="검색어를 입력해주세요">
    		       <input type="submit" value="검색" class="btn">
    		      <input type="button" onclick="location.href='write'" value="+글쓰기" style="float: right;" class="btn btn-success">
    	</form>	
    	<hr>
    
</div>
</div>

 <div class="row">
    	<!-- varStatus="상태용 변수" -->
		<c:forEach items="${list}" var="row" varStatus="vs">
		
			<div class="col-sm-4 col-md-4">
				<c:choose>
					<c:when test="${row.FILENAME != '-'}">
						<a href="detail/${row.PRODUCT_CODE}">
							<img src="/storage/${row.FILENAME}" class="img-responsive margin" style="width:100%">
						</a>
					</c:when>
					<c:otherwise>
						등록된 사진 없음!!<br>
					</c:otherwise>
				</c:choose>
				<br>
				글 제목 :
					<!-- http://localhost:9095/product/detail?product_code=5 -->
					
					
					<!-- RESTful Web Service URL 형식으로 서버에 요청 -->
					<!-- http://localhost:9095/product/detail/5 -->
					<a href="detail/${row.PRODUCT_CODE}"></a>
				<br>
				상품가격 : <fmt:formatNumber value="${row.PRICE}" pattern="#,###"/>
			</div>
            <!-- 한줄에 3칸씩 -->
            <c:if test="${vs.count mod 3==0}">
                </div><!-- row end -->
                <div style="height: 50px;"></div>
                <div class="row">
           </c:if>
             
		</c:forEach>		   	 
  </div><!-- row end -->
  


	
	
</th:block>
