<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	
	  layout:decorate="~{common/layout/defaultLayout}">
	  
	  <th:block layout:fragment="Content">
<div class="blank" style="margin-top: 200px;"></div>

<form name="loginfrm" id="loginfrm" method="post" action="loginProc.jsp" onsubmit="return loginCheck()">
<table class="table" style="width:30%">
		<tr>
			<td class="active">
				<input type="text" name="id" value="" id="id" placeholder="아이디" maxlength="10" required>
			</td>
			<td rowspan="2">
			    <!-- type=image는 기본속성이 submit -->
			    <input type="image" src="img/bt_login.gif">
			   
			</td>
		</tr>
		<tr>
			<td class="active">
			    <input type="password" name="passwd" id="passwd" placeholder="비밀번호" maxlength="10" required>
			</td>
		</tr>
<tr>
			<td colspan="2">
			    <label><input type="checkbox" value="SAVE" name="c_id">ID저장</label>
			    &nbsp;&nbsp;&nbsp;
			    <a href="agreement.jsp">회원가입</a>
			    &nbsp;&nbsp;&nbsp;
			    <a href="findID.jsp">아이디/비밀번호찾기</a>    
			</td>
		</tr>
		</table>
</form>

<div class="blank" style="margin-top: 200px;"></div>

</html>