<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <th:block th:replace="common/fragments/config :: ConfigFragment"></th:block>
    <body>
        <th:block th:replace="common/fragments/header :: HeaderFragment"></th:block>
        <th:block layout:fragment="Content">
            <div class="worldcup">
	            <div class="left">
					<img src="/img/dog1.jpeg" width="500px" height="500px">
				</div>
				<div class="versus">
					<p style="color: white; font-weight: bold; font-size: 40px;">vs</p>
				</div>
				<div class="right">
					<img src="/img/dog2.jpeg" width="500px" height="500px">
				</div>
			</div>
		</th:block>
        <th:block th:replace="common/fragments/footer :: FooterFragment"></th:block>
    </body>
</html>